{
    email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
    encode gzip zstd

    handle_path /api/* {
        reverse_proxy api:8000
    }

    handle /mlflow* {
        reverse_proxy mlflow:5000
    }

    handle {
        reverse_proxy frontend:80
    }
}
